#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5rem 1.5rem 1rem;
}

.header .logo {
  display: block;
  width: auto;
  height: 2.85rem;
}

.header pre {
  margin-left: auto;
  margin-right: 0;
  width: auto;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}